USE [master]
GO
/****** Object:  Database [Almaz]    Script Date: 18.04.2026 18:25:38 ******/
CREATE DATABASE [Almaz]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Almaz', FILENAME = N'F:\BD\Almaz.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'Almaz_log', FILENAME = N'F:\BD\log\Almaz_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Almaz].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Almaz]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 18.04.2026 18:25:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Id] [int] NOT NULL,
	[FIO] [nvarchar](50) NULL,
	[Birthday] [date] NULL,
	[Passport] [bigint] NULL,
	[Bank] [bigint] NULL,
	[Family] [int] NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Family]    Script Date: 18.04.2026 18:25:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Family](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Family] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialName]    Script Date: 18.04.2026 18:25:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialName](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_MaterialName] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materials]    Script Date: 18.04.2026 18:25:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materials](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdMaerialType] [int] NOT NULL,
	[MaterialUnitPrice] [float] NULL,
	[KolvoNaSklade] [int] NULL,
	[MinCount] [int] NULL,
	[CountInUpakovka] [int] NULL,
	[IdUnit] [int] NOT NULL,
 CONSTRAINT [PK_Materials] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialType]    Script Date: 18.04.2026 18:25:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Brak] [float] NULL,
 CONSTRAINT [PK_MaterialType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partners]    Script Date: 18.04.2026 18:25:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partners](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Id_type] [int] NOT NULL,
	[CompanyName] [nvarchar](max) NULL,
	[INN] [bigint] NULL,
	[FIO] [nvarchar](max) NULL,
	[Tel] [int] NULL,
	[Email] [nvarchar](max) NULL,
	[Logo] [nvarchar](max) NULL,
 CONSTRAINT [PK_Partners] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PartnersType]    Script Date: 18.04.2026 18:25:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartnersType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_PartnersType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductMaterial]    Script Date: 18.04.2026 18:25:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductMaterial](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Product] [nvarchar](max) NULL,
	[IdMaterialName] [int] NULL,
	[MinMaterails] [float] NULL,
 CONSTRAINT [PK_ProductMaterial] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 18.04.2026 18:25:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Articule] [int] NOT NULL,
	[IdProductType] [int] NOT NULL,
	[ProductName] [nvarchar](max) NULL,
	[MinimalPrice] [float] NULL,
	[RulonWidth] [float] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductType]    Script Date: 18.04.2026 18:25:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Kef] [float] NULL,
 CONSTRAINT [PK_ProductType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UnitType]    Script Date: 18.04.2026 18:25:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnitType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_UnitType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MaterialName] ON 

INSERT [dbo].[MaterialName] ([Id], [Name]) VALUES (1, N'Акрилат-винилацетатная дисперсия для производства бумаги')
INSERT [dbo].[MaterialName] ([Id], [Name]) VALUES (2, N'Акриловая дисперсия')
INSERT [dbo].[MaterialName] ([Id], [Name]) VALUES (3, N'Ассоциативный акриловый загуститель')
SET IDENTITY_INSERT [dbo].[MaterialName] OFF
GO
SET IDENTITY_INSERT [dbo].[Materials] ON 

INSERT [dbo].[Materials] ([Id], [IdMaerialType], [MaterialUnitPrice], [KolvoNaSklade], [MinCount], [CountInUpakovka], [IdUnit]) VALUES (1, 1, 1700, 2500, 1000, 100, 1)
INSERT [dbo].[Materials] ([Id], [IdMaerialType], [MaterialUnitPrice], [KolvoNaSklade], [MinCount], [CountInUpakovka], [IdUnit]) VALUES (2, 1, 1500, 3000, 1000, 100, 1)
INSERT [dbo].[Materials] ([Id], [IdMaerialType], [MaterialUnitPrice], [KolvoNaSklade], [MinCount], [CountInUpakovka], [IdUnit]) VALUES (3, 1, 1200, 1500, 1000, 100, 1)
SET IDENTITY_INSERT [dbo].[Materials] OFF
GO
SET IDENTITY_INSERT [dbo].[MaterialType] ON 

INSERT [dbo].[MaterialType] ([Id], [Name], [Brak]) VALUES (1, N'Бумага', 0.007)
INSERT [dbo].[MaterialType] ([Id], [Name], [Brak]) VALUES (2, N'Краска', 0.005)
INSERT [dbo].[MaterialType] ([Id], [Name], [Brak]) VALUES (3, N'Клей', 0.0015)
SET IDENTITY_INSERT [dbo].[MaterialType] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductMaterial] ON 

INSERT [dbo].[ProductMaterial] ([id], [Product], [IdMaterialName], [MinMaterails]) VALUES (1, N'Обои флизелиновые Эвелин светло-серые', 1, 1.95)
INSERT [dbo].[ProductMaterial] ([id], [Product], [IdMaterialName], [MinMaterails]) VALUES (2, N'Стеклообои Средняя елка белые', 1, 0.21)
INSERT [dbo].[ProductMaterial] ([id], [Product], [IdMaterialName], [MinMaterails]) VALUES (3, N'Фотообои Тропики 290x260 см', 2, 1.5)
SET IDENTITY_INSERT [dbo].[ProductMaterial] OFF
GO
INSERT [dbo].[Products] ([Articule], [IdProductType], [ProductName], [MinimalPrice], [RulonWidth]) VALUES (1549922, 1, N'Обои из природного материала Традиционный принт светло-коричневые', 16950, 0.91)
INSERT [dbo].[Products] ([Articule], [IdProductType], [ProductName], [MinimalPrice], [RulonWidth]) VALUES (2018556, 2, N'Фотообои флизелиновые Горы 500x270 см', 15880, 0.5)
INSERT [dbo].[Products] ([Articule], [IdProductType], [ProductName], [MinimalPrice], [RulonWidth]) VALUES (3028272, 3, N'Обои под покраску флизелиновые Рельеф', 11080, 0.75)
GO
SET IDENTITY_INSERT [dbo].[ProductType] ON 

INSERT [dbo].[ProductType] ([Id], [Name], [Kef]) VALUES (1, N'Декоративные обои', 5.5)
INSERT [dbo].[ProductType] ([Id], [Name], [Kef]) VALUES (2, N'Фотообои', 7.54)
INSERT [dbo].[ProductType] ([Id], [Name], [Kef]) VALUES (3, N'Обои под покраску', 3.25)
SET IDENTITY_INSERT [dbo].[ProductType] OFF
GO
SET IDENTITY_INSERT [dbo].[UnitType] ON 

INSERT [dbo].[UnitType] ([Id], [Name]) VALUES (1, N'рул')
INSERT [dbo].[UnitType] ([Id], [Name]) VALUES (2, N'кг')
INSERT [dbo].[UnitType] ([Id], [Name]) VALUES (3, N'л')
SET IDENTITY_INSERT [dbo].[UnitType] OFF
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Family] FOREIGN KEY([Family])
REFERENCES [dbo].[Family] ([Id])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Family]
GO
ALTER TABLE [dbo].[Materials]  WITH CHECK ADD  CONSTRAINT [FK_Materials_MaterialType] FOREIGN KEY([IdMaerialType])
REFERENCES [dbo].[MaterialType] ([Id])
GO
ALTER TABLE [dbo].[Materials] CHECK CONSTRAINT [FK_Materials_MaterialType]
GO
ALTER TABLE [dbo].[Materials]  WITH CHECK ADD  CONSTRAINT [FK_Materials_UnitType] FOREIGN KEY([IdUnit])
REFERENCES [dbo].[UnitType] ([Id])
GO
ALTER TABLE [dbo].[Materials] CHECK CONSTRAINT [FK_Materials_UnitType]
GO
ALTER TABLE [dbo].[Partners]  WITH CHECK ADD  CONSTRAINT [FK_Partners_PartnersType] FOREIGN KEY([Id_type])
REFERENCES [dbo].[PartnersType] ([Id])
GO
ALTER TABLE [dbo].[Partners] CHECK CONSTRAINT [FK_Partners_PartnersType]
GO
ALTER TABLE [dbo].[ProductMaterial]  WITH CHECK ADD  CONSTRAINT [FK_ProductMaterial_MaterialName1] FOREIGN KEY([IdMaterialName])
REFERENCES [dbo].[MaterialName] ([Id])
GO
ALTER TABLE [dbo].[ProductMaterial] CHECK CONSTRAINT [FK_ProductMaterial_MaterialName1]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_ProductType] FOREIGN KEY([IdProductType])
REFERENCES [dbo].[ProductType] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_ProductType]
GO
USE [master]
GO
